@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.Reports
@model ReportsIndexModel

@{
    Layout = "~/Views/Shared/_Settings_Production.cshtml";
    ViewBag.Title = "Ods Instance Reports";
}

@Html.NavPills(Url, Model.OdsInstanceSettingsTabEnumerations)

@{
    <div class="row">
        <div class="col-xs-12 margin-top-10">
            <div class="alert alert-info">
                <strong>Note: </strong>These reports allow for basic data quality inspection and system activity monitoring. They are not intended to support day-to-day analytics needs.
            </div>
        </div>
    </div>
}

@{
    bool autoSelectSingleItem = Model.SelectDistrictModel.DistrictOptions.Length == 1 && Model.SelectDistrictModel.LocalEducationAgencyId.ToString() != Model.SelectDistrictModel.DistrictOptions.Single().Value;
}

<div class="row">
    @if (Model.SelectDistrictModel.DistrictOptions.Any())
    {
        if (Model.SelectDistrictModel.DistrictOptions.Count() == 1)
        {
            <div class="col-md-12 padding-top">
                @Html.SelectListBlock(m => m.SelectDistrictModel.LocalEducationAgencyId, Model.SelectDistrictModel.DistrictOptions, x => x, null).Id("select-district-report")
            </div>
        }
        else
        {
            <div class="col-md-12 padding-top">
                @Html.SelectListBlock(m => m.SelectDistrictModel.LocalEducationAgencyId, Model.SelectDistrictModel.DistrictOptions, x => x, null, true).Id("select-district-report")
            </div>
        }
    }
    else
    {
        <div class="col-md-12 padding-top">
            <strong>There are no reports available for this category</strong>
        </div>
    }
</div>

<table id="reports-index" class="table" hidden>
    <thead>
        <tr>
            <th>Report Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a data-action="EnrollmentByEthnicity">Enrollment By Ethnicity</a></td>
        </tr>
        <tr>
            <td><a data-action="EnrollmentByGender">Enrollment By Gender</a></td>
        </tr>
        <tr>
            <td><a data-action="EnrollmentByRace">Enrollment By Race</a></td>
        </tr>
        <tr>
            <td><a data-action="TotalEnrollment">Enrollment Total</a></td>
        </tr>
        <tr>
            <td><a data-action="SchoolsBySchoolType">Schools by School Type</a></td>
        </tr>
        <tr>
            <td><a data-action="StudentsByAttribute">Students by Attributes</a></td>
        </tr>
        <tr>
            <td><a data-action="StudentsByProgram">Students by Program</a></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        handleReportList($("#select-district-report").find("select").val());

        function handleReportList(leaId) {
            if (StringIsNullOrWhitespace(leaId)) {
                $("#reports-index a").each(function () {
                    $(this).removeAttr("href");
                });
                $("#reports-index").hide();
                return;
            }

            $("#reports-index a").each(function () {
                var action = $(this).data("action");
                var currentUrl = window.location.pathname;
                var index = currentUrl.indexOf('/SelectDistrict');
                var baseHref = currentUrl.substring(0, index !== -1 ? index : currentUrl.length);

                $(this).attr('href', `${baseHref}/${action}/${leaId}`);
            });

            $("#reports-index").show();

        }

        $("#select-district-report").find("select").change(function () {            
            var leaId = $(this).val();
            var url = "@Url.Action("SelectDistrict", "Reports", new { id="param-id" })";
            url = url.replace("param-id", leaId);           
            window.location = url;
        });

        @if (autoSelectSingleItem)
        {
            @:$("#select-district-report").find("select").trigger("change");
        }
    });
</script>
