<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Clear is needed because there is always a SQLExpress default connection.-->
    <clear />
    <add name="EdFi_Admin" connectionString="Data Source=.\;Initial Catalog=EdFi_Admin;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EdFi_Security" connectionString="Data Source=.\;Initial Catalog=EdFi_Security;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EdFi_Ods_Production" connectionString="Data Source=.\;Initial Catalog=EdFi_Ods_Production;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="DeveloperSettings/AzureActiveDirectory.config">
    <add key="owin:appStartup" value="Azure" />
    <add key="apiStartup:type" value="sandbox" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultOdsInstance" value="EdFi ODS" />
    <add key="ProductionApiUrl" value="http://localhost:54746" />
    <add key="LocalEducationAgencyTypeValue" value="Local Education Agency" />
    <add key="SchoolTypeValue" value="School" />
    <add key="SystemManagedSqlServer" value="true" />
    <add key="AwsCurrentVersion" value="1.0" />
    <add key="OptionalEntropy" value="OptionalEntropy" />
    <add key="BulkUploadHashCache" value="Ed-Fi-ODS-AdminApp\BulkUploadHashCache\"/>
    <add key="XsdFolder" value="~\Schema"/>
    <add key="DbSetupEnabled" value="true"/>
    <add key="SecurityMetadataCacheTimeoutMinutes" value="0"/>
    <add key="log4net.Config" value="log4net\log4net.config" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" executionTimeout="9000" maxRequestLength="20480" />
    <httpCookies httpOnlyCookies="true" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
