<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EdFi_Ods_Production" connectionString="Data Source=.\;Initial Catalog=EdFi_Ods_Populated_Template;Integrated Security=True" providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="owin:appStartup" value="OnPrem" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="autoFormsAuthentication" value="false" xdt:Transform="Insert" />
    <add key="enableSimpleMembership" value="false" xdt:Transform="Insert" />
    <add key="DbSetupEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="log4net.Config" value="log4net\log4net.OnPremisesRelease.config" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>