<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <!--Clear is needed because there is always a SQLExpress default connection.-->
    <clear />
    <!-- The username and password provided in this file are for developer convenience when
         using one of the prescribed Docker-based development environments. These values should
         not be used in production systems. -->
    <add name="EdFi_Admin"
         connectionString="Host=localhost; Port=5432; Database=EdFi_Admin; username=username; password=Password; Application Name=EdFi.Ods.WebApi;"
         providerName="Npgsql" />
    <add name="EdFi_Security"
         connectionString="Host=localhost; Port=5432; Database=EdFi_Security; username=username; password=Password; Application Name=EdFi.Ods.WebApi;"
         providerName="Npgsql" />
    <add name="EdFi_Ods_Production"
         connectionString="Host=localhost; Port=5432; Database=EdFi_Ods; username=username; password=Password; Application Name=EdFi.Ods.WebApi;"
         providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="owin:appStartup" value="OnPrem" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="autoFormsAuthentication" value="false" xdt:Transform="Insert" />
    <add key="enableSimpleMembership" value="false" xdt:Transform="Insert" />
    <add key="DbSetupEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <entityFramework xdt:Transform="Replace">
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data xdt:Transform="InsertAfter(/configuration/entityFramework)">
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>