<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Ed-Fi Alliance NuGet Feed" value="https://pkgs.dev.azure.com/ed-fi-alliance/Ed-Fi-Alliance-OSS/_packaging/EdFi/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- Map Ed-Fi packages to Ed-Fi feed -->
    <packageSource key="Ed-Fi Alliance NuGet Feed">
      <package pattern="EdFi.*" />
    </packageSource>
    <!-- Map all other packages to nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
