# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
csx/
rcf/
[Oo]bj
publish/

#User-specific files
*.suo
*.csproj.user
*.ccproj.user
*.sln.DotSettings.user
*.pubxml.user
*.dbmdl

#Visual Studio files
.vs/

#NCrunch
_NCrunch*
*.ncrunchsolution.user
*.ncrunchproject
*.ncrunchsolution

#Vim backup files
*~

#MS Office Backup Files
~*

#Resharper files
_ReSharper.*
*.resharper
*.resharper.user
.idea/

#Others
*.cache
*.orig
*.original
*.log
*.env
*.crt
*.key
*.pfx

#Packages
packages/
/*.dll
/*.pdb
/*.XML
*.nupkg
*.trx

#nDevConfig
.workspaceInitialized
nDevConfig/

credentials-*.xml

#lib directory
libs/
libs.codegen/

#Docker
Docker/Application/
Docker/Settings/ssl/server.crt
Docker/Settings/ssl/server.key
Docker/Settings/ssl/dhparam.pem

# Code coverage
coverage
coverage.*
coveragereport/
