@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Identity", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.Name, "ChangePassword", "Identity", new { }, new { id = "usernameLink" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        </ul>
    }
}
