@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

<div class="row">
    <div class="col-lg-12 text-right">
         <span class="read-only"><i class="fa fa-eye" aria-hidden="true"></i> Read Only</span>
    </div>
</div>
<div class="alert alert-success message center-block">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="row">
        <div class="col-lg-12 hint-container">
            <h6>Notice</h6>
            <p>This instance shows read only content. In order to add vendors and applications, you should go to the <a href="@Url.Action("Index", "Settings")">Global tab</a>.
            </p>
        </div>
    </div>
</div>