@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-12">
        <h1>Error!</h1>
        <h4 class="error-message">There was an error processing your request. Please check the system log for diagnostic information.</h4>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-right">
        <a href="#" id="error-report-button" class='btn btn-primary hidden'>Report Error</a>
    </div>
    <div class="col-md-6">
        <a href="javascript:history.go(-1);" class='btn'>Back</a>
    </div>
</div>
