ADMIN_API_VIRTUAL_NAME=<virtual name for the Admin API endpoint>

# For Authentication
AUTHORITY=<Authentication Authority Appsetting Eg. https://localhost:443>
ISSUER_URL=<Authentication IssuerUrl Appsetting Eg. https://localhost:8001>
SIGNING_KEY=<Authentication Signing Key (Symmetric Security Key) for OpenIddict>

PAGING_OFFSET=0
PAGING_LIMIT=25
PREVENT_DUPLICATE_APPLICATIONS=false

# For Postgres only
POSTGRES_USER=<default postgres database user>
POSTGRES_PASSWORD=<password for default postgres user>
POSTGRES_PORT=<port for postgres server Eg. 5432>

ADMIN_POSTGRES_HOST=<DNS or IP Address of the Postgres Server, i.e. sql.somedns.org Eg. 172.25.32.1

ADMIN_WAIT_POSTGRES_HOSTS=<DNS or IP Address of the different Admin Postgres Servers, i.e. sql.somedns.org Eg. 172.25.32.1

# The following needs to be set to specify a health check test for Admin API.
# RECOMMENDED: To use the default internal Admin Api health check endpoint, set the variable as follows:
ADMIN_API_HEALTHCHECK_TEST="wget -nv -t1 --spider http://${ADMIN_API_VIRTUAL_NAME}/health || exit 1"

#  To disable the health check, remove the above and instead set the variable as follows:
# ADMIN_API_HEALTHCHECK_TEST=/bin/true
#  To add a custom health check, consult the documentation at https://docs.docker.com/compose/compose-file/compose-file-v3/#healthcheck

# AppSettings Admin Console Variables
ENABLE_ADMIN_CONSOLE=true
ENABLE_CORS=TRUE
ALLOWED_ORIGINS='["http://localhost:8598","https://localhost:8598"]'

EDFI_API_DISCOVERY_URL = <ODS_API>