@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@model List<EdFi.Ods.AdminApp.Web.Models.ViewModels.Descriptors.DescriptorModel>

@if (!Model.Any())
{
    <div class="col-md-12">
        <h6>There are no descriptors in this category</h6>
    </div>
}
else
{
    foreach (var descriptor in Model)
    {
        <div class="col-md-6">
            <h6>@descriptor.Description</h6>
            <ul>
                <li class="small text-muted margin-left">@descriptor.Namespace</li>
            </ul>
        </div>
    }
}

