API_MODE=<API Mode Eg. SharedInstance, YearSpecific, DistrictSpecific>

ODS_VIRTUAL_NAME=<virtual name for the ods endpoint>
ADMINAPP_VIRTUAL_NAME=<virtual name for the admin app endpoint>

# For Authentication
AUTHORITY=<Authentication Authority Appsetting Eg. https://localhost:443>
ISSUER_URL=<Authentication IssuerUrl Appsetting Eg. https://localhost:8001>
SIGNING_KEY=<Authentication Signing Key (Symmetric Security Key) for OpenIddict>

# For SQL Server only
SQLSERVER_ODS_DATASOURCE=<DNS or IP Address of the SQL Server Instance, i.e. sql.somedns.org or 10.1.5.9,1433
SQLSERVER_ADMIN_DATASOURCE=<DNS or IP Address of the SQL Server Instance that contains the Admin/Security/Master databases, i.e. sql.somedns.org or 10.1.5.9,1433>
SQLSERVER_USER=<SQL Username with access to SQL Server Ed-Fi databases, edfiadmin>
SQLSERVER_PASSWORD=<SQL Password for the SQLSERVER_USER with access to SQL Server Ed-Fi databases, password123!>

# The following needs to be set to specify the ODS API endpoint for admin app to internally connect.
# If user chooses direct connection between ODS API and admin app within docker network, then set the api internal url as follows
API_INTERNAL_URL = http://${ODS_VIRTUAL_NAME}