<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/EdFi.Ods.AdminApp.Web</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EdFi_Admin" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EdFi.Ods.Admin.Models.UsersContext, EdFi.Ods.Admin.Models" MigrationConfiguration="EdFi.Ods.Admin.Models.Configuration, EdFi.Ods.Admin.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EdFi_Security" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EdFi.Ods.Security.Metadata.Contexts.SecurityContext, EdFi.Ods.Security.Metadata" MigrationConfiguration="EdFi.Ods.Security.Metadata.Contexts.Configuration, EdFi.Ods.Security.Metadata" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EdFi_Ods_Production" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\;Initial Catalog=EdFi_Ods_Production;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EdFi_Ods_Production_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\;Initial Catalog=EdFi_Ods_Production;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <DesktopBuildPackageLocation>C:\dev\EdFi.Ods.AdminApp.Web.zip</DesktopBuildPackageLocation>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EdFi_Admin-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EdFi_Ods_Production-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EdFi_Security-Web.config Connection String" />
  </ItemGroup>
</Project>