<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EdFi_Admin" connectionString="Data Source=.\;Initial Catalog=EdFi_Admin;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EdFi_Security" connectionString="Data Source=.\;Initial Catalog=EdFi_Security;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EdFi_Ods" connectionString="Data Source=.\;Initial Catalog=EdFi_Ods;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="DeveloperSettings\AzureActiveDirectory.config"></appSettings>
</configuration>
