@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Global.GlobalSettingsModel

@{
    Layout = "~/Views/Shared/_Settings_Global.cshtml";
    ViewBag.Title = "Global | Advanced Settings";
}

<div class="tab-content" style="margin-top: 30px">
    <div class="tab-pane active" id="global-advanced">
        @using (Html.BeginForm("UpdateAdvancedSettings", "GlobalSettings"))
        {
            <div class="row subsection">
                <div class="col-lg-12">
                    @Html.InputBlock(m => m.AdvancedSettingsModel.BearerTokenTimeoutInMinutes, "Bearer Token Timeout (Minutes)", "Controls the frequency at which applications calling the Ed-Fi ODS API must re-login")
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12 text-right">
                    @Html.SaveButton().AppendSpinner("advanced-settings-update-button")
                </div>
            </div>
        }
    </div>
</div>