@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Management.Instances
@using EdFi.Ods.AdminApp.Web.Infrastructure
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.Global
@model GlobalSettingsModel

@{
    Layout = "~/Views/Shared/_Settings_Global.cshtml";
    ViewBag.Title = "Global | Vendors";
}

<div class="tab-content margin-top-10">
    <div class="tab-pane active" id="global-vendors">
        <div class="row subsection">
            <div class="col-lg-12">
                @{ await Html.RenderPartialAsync("_SecurityHelpfulHints"); }
            </div>
        </div>
        <div class="row subsection-headline">
            <div class="col-lg-6">
                <h7><img class="padding-right" src="~/Content/images/vendor-icon@2x.png" alt=""/>Vendors</h7>
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-primary cta" data-toggle="modal" data-target=".add-vendor-modal">
                    Add Vendor
                </button>
                @if (Model.VendorListModel.Vendors.Any())
                {
                    var applicationsUrl = Url.Action("Index", "Application");

                    if (CloudOdsAdminAppSettings.Instance.Mode.SupportsMultipleInstances)
                    {
                        applicationsUrl = Url.Action("DefineApplications", "GlobalSettings");
                    }

                    <a class="btn btn-primary cta" href="@applicationsUrl">Define Applications</a>
                }
            </div>
        </div>
        <div class="row subsection">
            <div class="col-lg-12">
                @{ await Html.RenderPartialAsync("_VendorsTable", Model.VendorListModel); }
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_AddVendorModal", new AddVendorModel()); }
