API_MODE=<API Mode Eg. SharedInstance, YearSpecific, DistrictSpecific>
ODS_VIRTUAL_NAME=<virtual name for the ods endpoint>
ADMIN_API_VIRTUAL_NAME=<virtual name for the Admin API endpoint>

# For Authentication
ISSUER_URL=<Authentication IssuerUrl Appsetting Eg. https://localhost:8001>
SIGNING_KEY=<Authentication Signing Key (Symmetric Security Key) for OpenIddict>

# For Postgres only
POSTGRES_USER=<default postgres database user>
POSTGRES_PASSWORD=<password for default postgres user>
POSTGRES_PORT=<port for postgres server Eg. 5432>
ADMIN_POSTGRES_HOST=<DNS or IP Address of the Postgres Server, i.e. sql.somedns.org Eg. 172.25.32.1
ODS_POSTGRES_HOST=<DNS or IP Address of the Postgres Server, i.e. sql.somedns.org Eg. 172.25.32.1
ODS_WAIT_POSTGRES_HOSTS=<DNS or IP Address of the different ODS Postgres Servers, i.e. sql.somedns.org Eg. 172.25.32.1

# The following needs to be set to specify the ODS API endpoint for Admin API to internally connect.
# If user chooses direct connection between ODS API and Admin API within docker network, then set the api internal url as follows
API_INTERNAL_URL = http://${ODS_VIRTUAL_NAME}

EDFI_API_DISCOVERY_URL = http://localhost/${ODS_VIRTUAL_NAME}
