@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Management.Database.Ods.TotalEnrollmentReport
<div class="padding-bottom-10" align="center">
    <h2>@Model.LocalEducationAgencyName</h2>
</div>

<h3>Total Enrollment</h3>
<table class="table table-condensed table-left-border">
    <tbody>
    <tr>
        <th>Total Enrollment</th>
        <td>@Model.EnrollmentCount</td>
    </tr>
    </tbody>
</table>


<a href="@Url.Action("SelectDistrict", "OdsInstanceSettings", new {id = Model.LocalEducationAgencyId})">@Html.Button("Back to Reports")</a>