# SPDX-License-Identifier: Apache-2.0
# Licensed to the Ed-Fi Alliance under one or more agreements.
# The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
# See the LICENSE and NOTICES files in the project root for more information.

services:
  nginx:
    build:
      context: ../../../Settings/gateway/
      dockerfile: Dockerfile
    environment:
      ADMIN_API_VIRTUAL_NAME: "${ADMIN_API_VIRTUAL_NAME:-adminapi}"
    ports:
      - "443:443"
      - "80:80"
    container_name: ed-fi-gateway-adminapi-packaged
    restart: always
    hostname: nginx
    volumes:
      - ../../../Settings/ssl:/ssl/
      - ../../../Settings/gateway/default.conf.template:/etc/nginx/templates/default.conf.template
    depends_on:
      - adminapi

  adminapi:
    build:
      context: ../../../
      additional_contexts:
         assets: ../../../../
      dockerfile: api.mssql.Dockerfile
      args:
        ADMIN_API_VERSION: "${ADMIN_API_VERSION:-2.2.0}"
    environment:
      ADMIN_API_VERSION: ${ADMIN_API_VERSION}
      ADMIN_MSSQL_HOST: db-admin
      API_INTERNAL_URL: ${API_INTERNAL_URL}
      AppSettings__DatabaseEngine: SqlServer
      AppSettings__DefaultPageSizeLimit: ${PAGING_LIMIT:-25}
      AppSettings__DefaultPageSizeOffset: ${PAGING_OFFSET:-0}
      AppSettings__EnableAdminConsoleAPI: ${ENABLE_ADMIN_CONSOLE:-true}
      AppSettings__EncryptionKey: "TDMyNH0lJmo7aDRnNXYoSmAwSXQpV09nbitHSWJTKn0="
      AppSettings__IgnoresCertificateErrors: ${IGNORES_CERTIFICATE_ERRORS:-false}
      AppSettings__MultiTenancy: "${MULTITENANCY_ENABLED:-false}"
      AppSettings__PathBase: ${ADMIN_API_VIRTUAL_NAME:-adminapi}
      AppSettings__PreventDuplicateApplications: "${PREVENT_DUPLICATE_APPLICATIONS:-true}"
      Authentication__IssuerUrl: ${ISSUER_URL}
      Authentication__SigningKey: ${SIGNING_KEY}
      AdminConsoleSettings__CorsSettings__AllowedOrigins: "${ALLOWED_ORIGINS:-https://localhost}"
      AdminConsoleSettings__CorsSettings__EnableCors: "${ENABLE_CORS:-false}"
      ConnectionStrings__EdFi_Admin: "Data Source=db-admin,1433;Initial Catalog=EdFi_Admin;User Id=$SQLSERVER_USER;Password=$SQLSERVER_PASSWORD; Integrated Security=False;Encrypt=false;TrustServerCertificate=true"
      ConnectionStrings__EdFi_Security: "Data Source=db-admin,1433;Initial Catalog=EdFi_Security;User Id=$SQLSERVER_USER;Password=$SQLSERVER_PASSWORD; Integrated Security=False;Encrypt=false;TrustServerCertificate=true"
      EdFiApiDiscoveryUrl: "${EDFI_API_DISCOVERY_URL:-https://host.docker.internal/api/}"
      Log4NetCore__Log4NetConfigFileName: "./log4net.config"
      SQLSERVER_ADMIN_DATASOURCE: db-admin
      SQLSERVER_ODS_DATASOURCE: db-admin
      SQLSERVER_PASSWORD: "${SQLSERVER_PASSWORD:-P@55w0rd}"
      SQLSERVER_PORT: 1433
      SQLSERVER_SECURITY_DATASOURCE: db-admin
      SQLSERVER_USER: ${SQLSERVER_USER:-edfi}
    depends_on:
      - db-admin
    restart: always
    hostname: ${ADMIN_API_VIRTUAL_NAME:-adminapi}
    container_name: adminapi-packaged
    healthcheck:
      test: ${ADMIN_API_HEALTHCHECK_TEST}
      start_period: "60s"
      retries: 3

  db-admin:
    build:
      context: ../../../Settings/DB-Admin/mssql/
      dockerfile: Dockerfile
      args:
        ADMIN_API_VERSION: "${ADMIN_API_VERSION:-2.2.0}"
    environment:
      ADMIN_API_VERSION: ${ADMIN_API_VERSION}
      SA_PASSWORD: "${SA_PASSWORD:-P@55w0rd}"
      ACCEPT_EULA: "Y"
      SQLSERVER_ADMIN_DATASOURCE: db-admin
      SQLSERVER_SECURITY_DATASOURCE: db-admin
      SQLSERVER_PORT: 1433
      SQLSERVER_USER: ${SQLSERVER_USER:-edfi}
      SQLSERVER_PASSWORD: "${SQLSERVER_PASSWORD:-P@55w0rd}"
    ports:
      - 1433:1433
    healthcheck:
      test: ["CMD", "/usr/local/bin/healthcheck.sh"]
      interval: 10s
      retries: 10
    volumes:
      - vol-db-admin-adminapi:/var/lib/mssql/data
    restart: always
    container_name: ed-fi-db-admin-adminapi

volumes:
  vol-db-admin-adminapi:
    driver: local
    name: vol-db-admin-adminapi
