@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Management.Configuration.Application.EditConfiguration.Command

@{
    ViewBag.Title = "Configuration";
}

<div class="row">
    <div class="col-md-4">
        <h5>
            <img src="~/Content/images/settings@2x.png" height="30" alt="@ViewBag.Title" />
            <span class="padding-left">@ViewBag.Title</span>
        </h5>
    </div>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.InputBlock(m => m.AllowUserRegistration)

    <div class="row form-group">
        <div class="col-xs-offset-4 col-xs-6">
            @Html.SaveButton("Update Configuration")
        </div>
    </div>
}