ADMIN_API_VIRTUAL_NAME=<virtual name for the Admin API endpoint>

# For Authentication
AUTHORITY=<Authentication Authority Appsetting Eg. https://localhost:443>
ISSUER_URL=<Authentication IssuerUrl Appsetting Eg. https://localhost:8001>
SIGNING_KEY=<Authentication Signing Key (Symmetric Security Key) for OpenIddict>

PAGING_OFFSET=0
PAGING_LIMIT=25
PREVENT_DUPLICATE_APPLICATIONS=false

# For SQL Server only
SQLSERVER_ODS_DATASOURCE=<DNS or IP Address of the SQL Server Instance, i.e. sql.somedns.org or 10.1.5.9,1433
SQLSERVER_ADMIN_DATASOURCE=<DNS or IP Address of the SQL Server Instance that contains the Admin/Security/Master databases, i.e. sql.somedns.org or 10.1.5.9,1433>
SQLSERVER_USER=<SQL Username with access to SQL Server Ed-Fi databases, edfiadmin>
SQLSERVER_PASSWORD=<SQL Password for the SQLSERVER_USER with access to SQL Server Ed-Fi databases, password123!>

# The following needs to be set to specify a health check test for Admin API.
# RECOMMENDED: To use the default internal Admin Api health check endpoint, set the variable as follows:
ADMIN_API_HEALTHCHECK_TEST="wget -nv -t1 --spider http://${ADMIN_API_VIRTUAL_NAME}/health || exit 1"

#  To disable the health check, remove the above and instead set the variable as follows:
# ADMIN_API_HEALTHCHECK_TEST=/bin/true
#  To add a custom health check, consult the documentation at https://docs.docker.com/compose/compose-file/compose-file-v3/#healthcheck

# AppSettings Admin Console Variables
ENABLE_ADMIN_CONSOLE_API=true
ENABLE_CORS=TRUE
ALLOWED_ORIGINS='["http://localhost:8598","https://localhost:8598"]'