<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Clear is needed because there is always a SQLExpress default connection.-->
    <clear />
    <add name="EdFi_Ods_Production" connectionString="Data Source=.\;Initial Catalog=EdFi_Ods_Empty_Test;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EdFi_Admin" connectionString="Data Source=.\;Initial Catalog=EdFi_Admin_Test;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EdFi_Security" connectionString="Data Source=.\;Initial Catalog=EdFi_Security_Test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>