@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@model EdFi.Ods.AdminApp.Web.Models.ViewModels.Application.ApplicationKeyModel

<div class="modal fade" id="application-key-and-secret-modal" tabindex="-1" role="dialog" aria-labelledby="application-key-and-secret-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @await Html.PartialAsync("_ApplicationKeyAndSecretContent", Model)
        </div>
    </div>
</div>
