@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.Application
@model ApplicationsIndexModel

@{
    Layout = "~/Views/Shared/_Settings_Production.cshtml";
    ViewBag.Title = "Ods Instance | Applications";
}

@Html.NavPills(Url, Model.OdsInstanceSettingsTabEnumerations)

<div class="tab-content">
    <div class="tab-pane active" id="production-applications">
        @if (!string.IsNullOrEmpty(Model.DisplayApiUrl))
        {
            <div class="alert alert-info">
                <a href="javascript:void(0)" class="copy-to-clipboard" data-clipboard-text="@Model.DisplayApiUrl">
                    <span class="fa fa-clipboard"></span><span>Production API URL: </span><strong>@Model.DisplayApiUrl</strong>
                </a>
            </div>
            <div class="ajax-content">
                @Html.ActionAjax(Url.Action("ApplicationList", "Application", new { pageNumber = 1}), 250, "Warming up Production API....")
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    (function () {
        InitializeCopyToClipboardLinks();
    })();
</script>
