@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

<div class="row">
    <div class="col-md-12">
        <h5>Invalid configuration</h5>
        A previous version of Admin App was already setup and this version cannot continue to function. See the <a href="https://techdocs.ed-fi.org/display/ADMIN/Known+Issues">Known Issues</a> documentation page to rerun Admin App setup in this mode, or switch back to using the previous mode.
        <br>
        <a href="javascript:history.go(-1);">Back</a>
    </div>
</div>
