@*
    SPDX-License-Identifier: Apache-2.0
    Licensed to the Ed-Fi Alliance under one or more agreements.
    The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
    See the LICENSE and NOTICES files in the project root for more information.
*@

@model TestAppSettingsModel

@{
    ViewBag.Title = "Test App Settings";
}

<div>
    <h1>App Settings</h1>
    <div>
        <b>Settings 1</b> - <span>@Model.Settings1</span>
    </div>
    <div>
        <b>Settings 2</b> - <span>@Model.Settings2</span>
    </div>
    <div>
        <b>Settings 3</b> - <span>@Model.Settings3</span>
    </div>
    <div>
        <b>Settings 4</b> - <span>@Model.Settings4</span>
    </div>
</div>
