@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@using Newtonsoft.Json
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets.ExportClaimSetPreviewModel

<h3>Export Claim Set Preview</h3>

<p>Review the content of your export before downloading.</p>

@Html.TextArea("exportJson", Model.ExportPreviewString, new { @readonly = true, rows = 25, cols = 80 })

<div class="padding-top-5">
    @Html.Button("Back").AddClass("back-btn back-ajax claimset-back-btn").Data("back-url", Url.Action("ClaimSets", "GlobalSettings"))
    @Html.Button("Download").Id("download-claimset-export-button")
</div>
<script type="text/javascript">
    var saveFile = function (content, fileName, contentType) {
        var a = document.createElement("a");
        var file = new Blob([content], {type: contentType});
        a.href = URL.createObjectURL(file);
        a.download = fileName;
        a.click();
    }

    var downloadFile = function(e) {
        e.preventDefault();
        var downloadFileName = @Html.Raw(JsonConvert.SerializeObject(Model.DownLoadFileTitle, new JsonSerializerSettings
                          {
                              StringEscapeHandling = StringEscapeHandling.EscapeHtml
                          }));
        saveFile($("#exportJson").val(), downloadFileName.concat(".json"), "application/json");
    }

    $('#download-claimset-export-button').click(downloadFile);
    $(function () {
        InitializeBackNavigationalAjaxButtons();
    });
</script>