@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@model EdFi.Ods.AdminApp.Web.Models.ViewModels.VendorApplicationsModel

<div class="row vendor-heading">
    <div class="col-lg-12">
        <h6>Vendor: @Model.VendorName</h6>
    </div>
</div>
<div class="vendor-applications">
    <div class="row padding-top">
        <div class="col-lg-6">
            <h6>Applications</h6>
        </div>
        <div class="col-lg-6 pull-right text-right">
            <button class="cta loads-ajax-modal" data-url="@Url.Action("Add", "Application", new { VendorId = Model.VendorId })">
                Add Application
            </button>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-lg-12">
            @await Html.PartialAsync("_ApplicationsTable", Model.Applications)
        </div>
    </div>
</div>
