@model EdFi.Ods.AdminApp.Web.Models.ApplicationModel

@{
    ViewData["Title"] = "AddApplication";
}

<h1>AddApplication</h1>

<h4>ApplicationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddApplication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" />
                <span asp-validation-for="ApplicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationName" class="control-label"></label>
                <input asp-for="ApplicationName" class="form-control" />
                <span asp-validation-for="ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimSetName" class="control-label"></label>
                <input asp-for="ClaimSetName" class="form-control" />
                <span asp-validation-for="ClaimSetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileName" class="control-label"></label>
                <input asp-for="ProfileName" class="form-control" />
                <span asp-validation-for="ProfileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
