@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@


@{
    ViewBag.Title = "Post-Update Setup";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h5>
                <img src="~/Content/images/settings_2@2x.png" width="28" height="35" alt="">
                <span class="padding-left">Additional Setup Required</span>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <p>Some additional setup tasks must be completed before your Ed-Fi ODS upgrade is complete.</p>
            <div id="transient-error-note" class="text-danger padding-bottom-10" style="display: none">
                <strong>Note:</strong> Setup has experienced an error. However, it's likely this error is transient.<br/>
                Please wait a few minutes and click the <strong><em>Try again</em></strong> button to attempt setup again.
            </div>
        </div>
    </div>
    <div>
        <a href="#" class="btn btn-primary" id="finish-setup-link">Continue <span class="padding-left"><i class="fa fa-chevron-circle-right"></i></span></a>
    </div>
</div>

<script language="javascript">
    $('#finish-setup-link').click(function () {
        $(this).html('Running... <span class="padding-left"><i id="spinner" class="fa fa-spinner fa-pulse"></i></span>');
        $(this).attr('disabled', true);

        $("#transient-error-note").hide();
        
        $.ajax({
            url: "@Url.Action("CompletePostUpdateSetup")",
            method: "POST",
            dataType: "json",
            data: appendAntiForgeryToken({})
        })
        .done(function(data) {
                $('#finish-setup-link').removeClass("btn-primary btn-danger").addClass("btn-success");
                $('#finish-setup-link').html('Success <span class="padding-left"><i class="fa fa-check-circle"></i></span>');
                window.location = '@Url.Action("Index", "Home", new { setupCompleted = true })';
            })
        .fail(function (data) {
                $('#finish-setup-link').removeClass("btn-primary").addClass("btn-danger");
                $('#finish-setup-link').html('Try again <span class="padding-left"><i class="fa fa-chevron-circle-right"></i></span>');
                $('#finish-setup-link').attr('disabled', false);

                if (data.responseJSON && data.responseJSON.isTransientError) {
                    $("#transient-error-note").show();
                }

                var errorMsg = data.responseJSON && data.responseJSON.message
                    ? data.responseJSON.message
                    : 'Setup has experienced an error. Please wait a few minutes and click the <strong><em>Try again</em></strong> button to attempt setup again.';
                toastr.error("<strong>Error:</strong> " + errorMsg);
            });
    });
</script>
