@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.BulkFileUploadModel

@using (Html.BeginForm("SaveBulkLoadCredentials", "OdsInstanceSettings", FormMethod.Post, new { enctype = "multipart/form-data", id = "save-credentials-form" }))
{
    @Html.ValidationBlock()
    @Html.InputBlock(m => m.ApiKey)
    @Html.InputBlock(m => m.ApiSecret)
    <div class="col-xs-4"></div>
    <div class="col-xs-6">
        @Html.SaveButton("Save credentials").Id("bulk-load-button")
    </div>
}

