@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

<div id="show-security-hint-link" class="pull-right" style="display: none">
    <a href="javascript:void(0)">
        <em class="text-muted">Ed-Fi ODS Security Help</em>
        <span class="fa fa-question-circle-o"></span>
    </a>
</div>
<div id="security-hint" class="collapse">
    <div class="alert alert-success message center-block">
        <a id="hide-security-hint-link" href="javascript:void(0)" class="close" aria-label="close">&times;</a>
        <div class="row">
            <div class="col-lg-12 hint-container">
                <h6>Ed-Fi ODS Security Help</h6>
                <p>In order to set up the security of your Ed-Fi ODS installation, you need to complete the following workflow. Note that Applications are managed on a per ODS instance basis.</p>
                <img class="hint-image" src="~/Content/images/hint@2x.png" alt="Security Helpful Hint" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var hideSecurityHint = localStorage.getItem("HideSecurityHelpfulHint");
        if (StringIsNullOrWhitespace(hideSecurityHint)) {
            $("#security-hint").addClass("in");
        } else {
            $('#show-security-hint-link').show();
        }
    });

    $('#hide-security-hint-link').click(function () {
        $('#hide-security-hint-link').hide();
        $('#security-hint').collapse('hide');
        $('#show-security-hint-link').show();
        localStorage.setItem("HideSecurityHelpfulHint", "true");
    });
    $('#show-security-hint-link').click(function () {
        $('#security-hint').collapse('show');
        $('#hide-security-hint-link').show();
        $('#show-security-hint-link').hide();
        localStorage.removeItem("HideSecurityHelpfulHint");
    });
</script>